body {
	font-family: Arial, sans-serif;
	font-family: 12px;
	color: #6E6E6E;
	background: #fff url('../images/bg.png') repeat-x;
	margin: 0px;
}

.container {
	width: 100%;
	height: 100%;
}

.header {
	font-weight: bold;
	font-family: 13px;
	width: 100%;
	height: 60px;
	margin: 10px 0px 0px 20px;
	clear: both;
	background: url('../images/openxdata-logo.png') no-repeat;
}

.bodyDiv {
	margin: 0px;
	width: 100%;
	min-height: 350px;
	width: 100%;
}

.bodyDiv .heading {
	font-size: 13px;
	color: #E0C424;
	font-weight: bold;
	color: #E0C424;
	font-weight: bold;
	margin: 15px 0px 10px 40px;
	text-align:center;
}

.bodyDiv .studies-table {
	margin: auto;
	width: 700px;
	border: double 1px #0288F5;
	text-align:center;
}

.bodyDiv .studies-table .studies-table-label {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	padding: 5px;
	background: #6D92AB;
}

.bodyDiv .studies-table .input-div{
	color: #858585;
	font-size: 11px;
	font-weight: bold;
	padding: 15px 7px 5px 45px;
	text-align:left;
	width:300px;
	float:left;
}

.bodyDiv .studies-table .input-div input{
width:200px;
height: 15px;
font-size: 13px;
color:#4F494B;
font-family: Arial, sans-serif;
border:1px solid #858585;
}

.bodyDiv .studies-table .message-div{
font-size: 11px;
color:#f00;
font-family: Arial, sans-serif;
background: #EBEEF0;
padding:5px 0px 5px 0px;
}

.bodyDiv .study-table {
	min-height: 100px;	
	margin:5px 10px 0px 45px;
}

.bodyDiv .study-table th {
	text-align: center;
	white-space: nowrap;
	font-size: 12px;
	font-weight: bold;
	border: solid 1px #D4D4D4;
	background: #EBEEF0;
	height: 20px;
	width: 200px;
}

.bodyDiv .study-table td {
	text-align: center;
	white-space: nowrap;
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	border-bottom: solid 1px #D4D4D4;
}

.bodyDiv .studies-table .buttonStrip {
	height: 30px;
	background: #fff;
	padding: 12px 0px 0px 20px;;
}

.bodyDiv .studies-table .buttonStrip input{
width:60px;
height:20px;
border:1px solid #858585;
font-size:11px;
font-family: Arial, sans-serif;
float:left;
padding-right:5px;color:#666666;
}

.bodyDiv .button-style {
	font-size: 12px;
	width: 80px;
	margin:3px 10px 0px 0px;
}
